@import url("https://use.typekit.net/scn2gmy.css");
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

/* 
----- Font styling -----

 _-_-_-_ DUNBAR _-_-_-_

font-family: dunbar-tall, sans-serif;

font-weight: 700;

font-style: normal;

--- DUNBAR Weight ---
Light = 300
Regular = 500
Medium = 600
Bold = 700
---------------------


_-_-_-_ Poppins _-_-_-_

font-family: poppins, sans-serif;

font-weight: 400;

font-style: normal;

--- Poppins Weight ---
Light = 300
Regular = 400
Medium = 500
Bold = 700
----------------------
*/

:root {
    --nvoe-black: #2c3437;
    --nvoe-blue: #5d7a85;
    --nvoe-yellow: #f2b90f;
    --nvoe-white: #ffffff;
    --nvoe-titel-font: dunbar-tall, sans-serif;
    --nvoe-text-font: poppins, sans-serif;
  }

body {
    font-family: var(--nvoe-titel-font);
    background-color: var(--nvoe-black);
    color: var(--nvoe-white);
}


/* --- UDVALG --- */

.udvalg-intro-section {
  background-image: url("/images/udvalgintrowall.jpg");
  background-size: auto 55vh; 
  background-repeat: no-repeat;
  background-position-x: 40%;
}

.udvalg-intro {
  font-family: var(--nvoe-titel-font);
  font-weight: 700;
  font-size: 1.75em;
  text-align: center;
  padding: 2rem;
}

.udvalg-intro-wrap {
  margin: 0 auto;
  width: 72%;
  height: 64vh;
  background-color: var(--nvoe-blue);
  border-radius: 5px;
}

.udvalg-intro-description-image {
  width: 75%;
  display: block;
  margin: 0 auto;
  padding-top: 2rem;
}

.udvalg-intro-description-title {
  font-family: var(--nvoe-titel-font);
  font-size: 1.25em;
  font-weight: 700;
  text-align: center;
}

.udvalg-intro-description {
  margin: 1rem auto;
  width: 85%;
  line-height: 1.6em;
  text-align: center;
  font-family: var(--nvoe-text-font);
}

.udvalg-bryggerier-wrap {
  width: 72%;
  margin: 0 auto;
  background-image: url("/images/tavle.jpg");
  background-size: cover;
  background-position-x: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 4rem;
}

.udvalg-bryggerier-wrap img{
  flex-grow: 1;
  flex-basis: 35%;
  padding: 7.5%;
}

.udvalg-togo-section {
  width: 55%;
  background-color: var(--nvoe-blue);
  margin: 0 auto;
  margin-bottom: 4rem;
  padding: 2rem;
}

.udvalg-togo-intro {
  font-family: var(--nvoe-titel-font);
  font-size: 1.75em;
  font-weight: 700;
  text-align: center;
  padding-bottom: 2rem;
}

.udvalg-togo-description {
  font-family: var(--nvoe-text-font);
  font-size: 1em;
  line-height: 1.6em;
  text-align: center;
}

.udvalg-togo-price {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.25em;
}

.udvalg-togo-link {
  width: 8.125rem;
  height: 2.8125rem;
  background-color: transparent;
  border: solid 2px var(--nvoe-white);
  border-radius: 3.125rem;
  font-family: 'Kalam';
  font-size: 1.5rem;
  color: var(--nvoe-white);
  margin-top: 2em;
  margin-bottom: 1.875em;
}


/* Media Tablet */
@media screen and (min-width: 750px){
    
}

/* Media Small Laptop */
@media screen and (min-width: 1280px){
    
}

/* Media Big Laptop */
@media screen and (min-width: 1920px){
    
}